label{
    color: rgb(15, 12, 13);
    font-weight:  italicbold;
    padding-bottom: 8px;

    font-size: 17px;

    font-size: 20px;

    padding-top: 12px;
    display: inline-block;
}

form{
    background-color: dark drey;
    width: 450px;
    border-radius: 30px;
    height: 300px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 50px auto 50px;

}
input,textarea{
    box-sizing: border-box;
    width: 400px;
    height: 46px;
    padding-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    height: 55px;
}


button{
    flex-grow: 1;
    font-weight:  italicbold;
    width: 130px;
    margin: 25px; 
    border:grey;
    border-radius: 30px;
    height: 35px;
    font-size: 23px;
    text-align: center;
    
}

button#send{
    background-color: rgb(53, 156, 65);
    color: rgb(249, 249, 249);
    
}

button#reset{
    background-color: rgb(54, 207, 253);
    color: darkblue;
}

form h2{
    color: black;
    text-align: center;
    font-size: 40px;
}
